---
	import experience from "../services/experience.json"
	import education from "../services/education.json"
	const section = Astro.props

---

{
	section.title==='experience'
	? 
		experience.map((i) => {
		return(
			<article>
				<h4 class="font-bold">{i.position}</h4>
				<h5>{i.company}</h5>
				<h6 class="text-sm text-gray-300">{i.period}</h6>
				<p>{i.aditional_info}</p>
				<ul class="list-disc list-inside">
					{i.responsibilities.map((r) => <li>{r}</li> )}
				</ul>
			</article>
		)
	})
	: education.map((i) => {
		return(
			<article>
				<h4 class="font-bold">{i.certification}</h4>
				<h5>{i.institution}</h5>
				<h6 class="text-sm text-gray-300">{i.period}</h6>
			</article>
		)
	})				
}

